

<!-- LEADERBOARD -->
<div id="leaderboard-ul">
  <h4>Leaderboard</h4>
  <ul class="list-group" >
    <li id="name"><%=  %></li>
    <li id="time"><%= score.time %></li>
    <li id="highScore"> <%= score.points %></li>
  </ul>
</div>
  

