

<!-- LEADERBOARD -->
<h2>Leaderboard</h2>
<ul class="list-group" id="leaderboard-ul">
  <li id="name"><%=  %></li>
  <li id="time"><%= score.time %></li>
  <li id="highScore"> <%= score.points %></li>
</ul>
  

