<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <!-- NAVIGATION -->
<% include partials/nav %>



<!-- LEADERBOARD -->
<ul class="list-group" id="leaderboard-ul"></ul>
  


</body>
</html>